@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: "Poppins", sans-serif;
}

:root {
    --azul1: #020f8345;
    --azul2: #4881fce6;
    --azul3: #0000ff;
    --vermelho: #ff0000;
    --vermelho2: #fc5555;
    --branco: #ffffff;
    --verde: #008000;
    --amarelo: #ffa500;

}    
body {
    background-color: var(--azul1);
}

.terceiro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
    height: 80px;
    color: var(--branco);
    font-size: 1.5rem;
}

.terceiro .painel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.terceiro .painel form {
    margin-bottom: 10px;
}

.terceiro .painel form input{
    height: 25px;
    border: none;
    border-radius: 3px;
    padding-left: 5px;
    border: 1px solid var(--azul3);
}

#clt ,#cub {
    width: 40px;
}

#mot ,#dest {
    width: 300px;
}

.sequencia{
    height: 30px;
    width: 1020px;
    display: flex;
    background-color: var(--azul3);
    color: var(--branco);
    justify-content: space-between;
    align-items: center;
    font-size: 0.5rem;
    padding-left: 15px;
    padding-right: 60px;
    gap: 30px;
}

.sequencia #mot, #dest{
    margin-left: 60px;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 1020px;
    padding: 5px;
    background-color: var(--azul2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 5px auto 5px 5px;
    border-radius: 10px;
}



nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-right: 5px;
}

nav .menu  {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--branco);
}

nav .menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    
}

nav .menu div h1 {
    font-size: 0.9rem;
}

nav .menu .destino {
    width: 300px;
}
nav .menu .motorista {
    width: 200px;
}

nav .menu span {
    font-size: 0.7rem;
    padding-top: 10px;
}
 
img {
    width: 35px;
    border-radius: 50%;
}

/* ####### ESTILO DAS FASES  ########*/

.mae {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.fase {
    width: 180px;
    height: 20px;
    color: var(--branco);
    border-radius: 3px;
    align-items: center;
    font-size: 0.4rem;
    background-color: var(--azul3);
    display: flex;
    justify-content: center;
    gap: 20px;
}




.fase i {
    color: var(--vermelho);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}



.fase .passo p {
    color: var(--azul3);
    text-align: center;
    font-size: 0.9rem;
}

/* SECTION NÃO CARREGAMENTO*/
.noCcarregamento {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    
}

.noCcarregamento h1 {
    font-size: 2rem;
    color: var(--azul3);
}


footer {
    background-color: var(--azul3);
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--branco);
    font-size: 0.8rem;
    padding-right: 10px;
}


/*ESTILO DA FASE CONCLUÍDO*/
.concluido {
    width: 197px;
    height: 60px;
    color: var(--branco);
    border-radius: 10px;
    border: 3px solid var(--verde);
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
}

.concluido .title {
    display: flex;
    height: 15px;
    background-color: var(--verde);
    border-radius: 5px 5px 0px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.4rem;
    margin-bottom: 3px;
}

.concluido .passo {
    display: flex ;
    justify-content: center;
    align-items: center;
    color: var(--verde);
    gap: 20px;
}

.concluido .passo i {
    color: var(--verde);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 2px;
}

.concluido .passo p {
    color: var(--verde);
    text-align: center;
    font-size: 0.9rem;
}

/*ESTILO DA FASE CANCELADO*/
.cancelado {
    width: 197px;
    height: 60px;
    color: var(--branco);
    border-radius: 10px;
    border: 3px solid var(--vermelho2);
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
}

.cancelado .title {
    display: flex;
    height: 15px;
    background-color: var(--vermelho2);
    border-radius: 5px 5px 0px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.4rem;
    margin-bottom: 3px;
}

.cancelado .passo {
    display: flex ;
    justify-content: center;
    align-items: center;
    color: var(--vermelho);
    gap: 20px;
}

.cancelado .passo i {
    color: var(--vermelho2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 2px;
}

/*ESTILO DA FASE ADIADO*/
.adiado {
    width: 197px;
    height: 60px;
    color: var(--branco);
    border-radius: 10px;
    border: 3px solid var(--amarelo);
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
}

.adiado .title {
    display: flex;
    height: 15px;
    background-color: var(--amarelo);
    border-radius: 5px 5px 0px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.4rem;
    margin-bottom: 3px;
}

.adiado .passo {
    display: flex ;
    justify-content: center;
    align-items: center;
    color: var(--amarelo);
    gap: 20px;
}


.adiado .passo i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 2px;
}