<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Carregamento Kanban</title>
    <!--link do bostrep-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--fim do link bootrep-->
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.5.2/core.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body">
    <section class="terceiro">
        <div class="painel">
            <h1>PAINEL DE CARREGAMENTO DIÁRIO!</h1>
            <form action="">
                <input type="text" name="clt" id="clt" placeholder="clt">
                <input type="text" name="mot" id="mot" placeholder="motorista">
                <input type="text" name="dest" id="dest" placeholder="destino">
                <input type="text" name="conf" id="conf" placeholder="conferente">
                <input type="text" name="placa" id="placa" placeholder="placa">
                <input type="text" name="cub" id="cub" placeholder="cubagem">
            </form>
        </div>
    </section>
    
    <div class="principal"> <!-- inicio da div principal -->
        {% for item in registro %}
     
        <div class="card"> 
            <header class="content">
                <nav>
                    <div class="menu">
                        <div><h1>SEQ</h1><span id="SEQ">{{item[0]}}</span></div>
                        <div><h1>CLT</h1><span id="CLT">{{item[1]}}</span></div>
                        <div class="motorista"><h1>MOTORISTA</h1><span id="MOT">{{item[2]}}</span></div>
                        <div class="destino"><h1>DESTINO</h1><span id="DEST">{{item[3]}}</span></div>
                        <div><h1>CONFERENTE</h1><span id="CONF">{{item[4]}}</span></div>
                        <div><h1>PLACA</h1><span id="PLACA">{{item[5]}}</span></div>
                        <div><h1>CUB</h1><span id="CUB">{{item[6]}}</span></div>
                    </div>
                </nav>
                <div class="logo">
                    <img src="/static/images.jpg" alt="Não a imagem">
                </div>
            </header>
            <div class="mae">
                <div class="{{item[7]}}">
                    <div class="title">
                        <h1>AGU CONF OU MOT.</h1>
                    </div>
                    <div class="passo">
                        <p id="MsgP1">{{item[17]}}</p>
                        <i class="{{item[12]}}" id="IconP1"></i>
                    </div>
                </div>
                <div class="{{item[8]}}">
                    <div class="title" id="carregando">
                        <h1>CARREGANDO</h1>
                    </div>
                    <div class="passo">
                        <p id="MsgP2">{{item[18]}}</p>
                        <i class="{{item[13]}}" id="IconP2"></i>
                    </div>
                </div>
        
                <div class="{{item[9]}}">
                    <div class="title" id="aguard-faturamento">
                        <h1>AGUARD FATURAMENTO</h1>
                    </div>
                    <div class="passo">
                        <p id="MsgP3">{{item[19]}}</p>
                        <i class="{{item[14]}}" id="IconP3"></i>
                    </div>
                </div>
                <div class="{{item[10]}}">
                    <div class="title" id="faturando">
                        <h1>FATURANDO</h1>
                    </div>
                    <div class="passo">
                        <p id="MsgP4">{{item[20]}}</p>
                        <i class="{{item[15]}}" id="IconP4"></i>
                    </div>
                </div>
                <div class="{{item[11]}}">
                    <div class="title" id="concluído">
                        <h1>CONCLUÍDO</h1>
                    </div>
                    <div class="passo">
                        <p id="MsgP5">{{item[21]}}</p>
                        <i class="{{item[16]}}" id="IconP5"></i>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
   
    </div> <!-- fin da div principal -->
    
    <section class="noCcarregamento">
        <h1 class="TextVasio"></h1>
    </section>

   
    <footer>
        <div>Desenvolvido por  Francisco Neponuceno</div>
    </footer>

    
    
</body>
</html>